html {
  //scroll-behavior: smooth;
}

h2 {
  font-size: 1.4em;
  margin-bottom: 0.4em;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 0.4em;
}

p {
  line-height: 1.2;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}


body::-webkit-scrollbar {
  width: 0;
}
