.item {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  &__image {
    max-width: 12em;
    align-self: center;
  }

  &__sub-header {
    font-size: 0.8em;
    > * {
      display: inline-block;
      margin-right: 0.4em;
    }
  }

  &__rating {
    display: inline-block;
    margin-right: 0.6em;
  }

  &__seller {
    display: inline-block;
    margin-right: 0.6em;
  }
}
