.item-header {
  display: flex;
  flex-direction: column;

  &__image {
    max-width: 12em;
    align-self: center;
  }

  &__sub-title {
    font-size: 0.8em;
  }

  &__rating {
    display: inline-block;
    margin-right: 0.6em;
  }

  &__seller {
    display: inline-block;
    margin-right: 0.6em;
  }
}
