body {
  padding-bottom: 4em;
  font-size: 28px;
}

body::-webkit-scrollbar {
  width: 0;
}

h2 {
  font-size: 1.4em;
  margin-bottom: 0.4em;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 0.4em;
}

p {
  line-height: 1.2;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
